<mat-toolbar style="background-color: yellow;" >
  Anket Hazırlama Platformu
  <a class="nav-link active" style="color: black; text-decoration: none; margin-right: 100px;" aria-current="page" href="landing">Anket Hazırlama</a>
  <a class="nav-link active" style="color: black; text-decoration: none; margin-right: 100px;" aria-current="page" href="home">Mesaj</a>
  <ng-container *ngIf="user$ | async as user; else loginButton">
    
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img
        width="30"
        height="30"
        class="profile-image-toolbar"
        [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
      />
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
    
  </ng-container>

  <ng-template #loginButton>
    
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Giriş
    </button>
    
  </ng-template>
  

</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profil
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Çıkış Yap
  </button>
</mat-menu>
